<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SQL, Express, Angular, Node Dev Env</title>

    <!-- Project Style Sheet -->
    <link rel="stylesheet" href="styles/style.css">

    <!-- Angular Library -->
    <script type="text/javascript" src="vendors/angular/angular.min.js"></script>

    <!-- angular-route -->
    <script type="text/javascript" src="vendors/angular-route/angular-route.min.js"></script>

    <!-- Client -->
    <script type="text/javascript" src="scripts/client.min.js"></script>
  </head>

  <body ng-app="myApp" layout="column">


    <main ng-view></main>

  </body>

</html>
